#brand {
    height: 60px;
    width: 40px;
    position: relative;
    top: -15px;
}
.downloaded-image {
    margin-right: 5px;
    margin-bottom: 5px;
}
.images {
    display: block;
    margin: auto;
    position: relative;
    float: left;
    width:  33%;
    height: auto;
}
.navbar {
    height: 65px;
    background-color: black;
    border: unset;
}
.default-buttons {
    margin-right: 10px;
    margin-top: 10px;
}
.col-sm-12 {
    top: 15px;
}
.thumbnail {
    display: block;
    margin-top: auto;
    position: relative;
    float: left;
    width:  100%;
    height: auto;
    position: relative;
}

#image-row{
    display: block;
    margin-top: 30px;
    clear: both;
    
}
body {
    background-color: black;
}
.input-group {
margin-top: 15px;
}
.container-fluid{
    padding-left: 170px;
}
#button-column{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}